autopep8==1.4.4
boto3==1.13.9
botocore==1.16.9
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.24
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-extensions==2.2.5
django-storages==1.9.1
docutils==0.15.2
gunicorn==20.0.4
idna==2.8
jmespath==0.10.0
oauthlib==3.0.1
pep8==1.7.1
Pillow>=7.1.0
pycodestyle==2.5.0
python-dateutil==2.8.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.3.3
six==1.13.0
sqlparse==0.2.4
stripe==2.41.0
urllib3==1.24.2
