{% load static %}
<!--Footer-->
<footer class="page-footer text-center text-md-left stylish-color-dark pt-0 mt-5">

    <div style="background-color: #4285f4;">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0 px-2">
                        <i class="fab fa-facebook-f white-text"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic px-2">
                        <i class="fab fa-twitter white-text"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic px-2">
                        <i class="fab fa-google-plus-g white-text"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic px-2">
                        <i class="fab fa-linkedin-in white-text"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic px-2">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>ScubaDiveDubai</strong>
                </h6>
                <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>ScubaDiveDubai is a Scuba Diving center based in Dubai in the UAE. We specialize in selling amazing
                    scuba diving equioment. We offer scuba diving courses as well as daily diving trips to and around
                    Dubai. Join is on you next underwter adventure. It will be the best!</p>
            </div>
            <!--/.First column-->



            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="https://www.windguru.cz/68574">WindGuru</a>
                </p>
                <p>
                    <a href="https://divesandybeach.com/">Dive Sandy Beach</a>
                </p>
                <p>
                    <a href="http://www.sandybeachhotel.ae/">Sandy Beach Hotel</a>
                </p>
                <p>
                    <a href="#!">Contact Us</a>
                </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Sandy Beach Hotel and resort, Fujairah, UAE</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@scubadivedubai.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 971 54 407 5475</p>

            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2019 Copyright:
            <a href="" target="_blank"> scubadivesdubai.com </a>
        </div>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->