<!-- Navbar -->
<!--Navigation-->
<!-- Navbar -->
{% load cart_template_tags %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar white">
    <div class="container">
        <!-- SideNav slide-out button -->
        <!-- <div class="float-left mr-2">
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="fas fa-bars"></i>
            </a>
        </div> -->
        <a class="navbar-brand font-weight-bold" href="{% url 'shop:home' %}">
            <strong>ScubaDiveDubai</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link dark-grey-text font-weight-bold" href="{% url 'shop:order_summary' %}">
                        <span class="badge danger-color">{{ request.user | cart_item_count }}</span>
                        <i class="fas fa-shopping-cart blue-text" aria-hidden="true"></i>
                        <span class="clearfix d-none d-sm-inline-block">Cart</span>
                    </a>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold"
                        id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user blue-text"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-cyan"
                        aria-labelledby="navbarDropdownMenuLink-4">
                        <!-- <a class="dropdown-item waves-effect waves-light" href="#">My account</a> -->
                        <a class="dropdown-item waves-effect waves-light" href="{% url 'account_logout' %}">Log
                            out</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold"
                        href="{% url 'account_login' %}">
                        <i class="fas fa-cog blue-text"></i> Login</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold"
                        href="{% url 'account_signup' %}">
                        <i class="fas fa-cog blue-text"></i> Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- /.Navbar -->

<!-- /.Navigation -->
<!-- Navbar -->