{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Scuba Dive Dubai {% endblock title %}




{% block content %}

<main class="mt-5 pt-4">
    <div class="container wow fadeIn">
        <h2 class="mb-5 h2 text-center">Checkout form</h2>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <!-- Card Form content-->
                    <form class="card-body" method="POST">
                        <h3>Shipping Address</h3>
                        {% csrf_token %}
                        <!--shipping address-->
                        <div class="hideable_shipping_form">
                            <div class="md-form mb-5">
                                <input type="text" id="shipping_address_1" class="form-control"
                                    placeholder="1234 Main St" name="shipping_address_1">
                                <label for="shipping_address_1" class="active">Address</label>
                            </div>

                            <!--address-2-->
                            <div class="md-form mb-5">
                                <input type="text" id="shipping_address_2" name="shipping_address_2"
                                    class="form-control" placeholder="Apartment or suite">
                                <label for="shipping_address_2" class="active">Address 2 (optional)</label>
                            </div>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <label for="id_shipping_country">Country</label>
                                    {{ form.shipping_country }}
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">

                                    <label for="shipping_zip_code">Zip</label>
                                    <input type="text" class="form-control" id="shipping_zip_code"
                                        name="shipping_zip_code" placeholder="Zip Code">
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <hr>


                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="set_default_shipping"
                                    id="set_default_shipping">

                                <label class="custom-control-label" name="set_default_shipping"
                                    for="set_default_shipping">Save as default shipping address</label>
                            </div>

                        </div>
                        <!-- shipping address -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="same_billing_address"
                                id="same_billing_address">
                            <label class="custom-control-label" for="same_billing_address">Billing address is
                                the
                                same as my
                                shipping
                                address</label>
                        </div>

                        {% if default_shipping_address %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="use_default_shipping"
                                id="use_default_shipping">

                            <label class="custom-control-label" for="use_default_shipping">Use default shipping
                                address: {{ default_shipping_address.address_line_1 | truncatechars:10 }}</label>
                        </div>
                        {% endif %}

                        <hr>



                        <!--billing address-->
                        <div class="hideable_billing_form">
                            <h3>Billing Address</h3>
                            <div class="hideable_default_billing">


                                <div class="md-form mb-5">
                                    <input type="text" id="billing_address_1" class="form-control"
                                        placeholder="1234 Main St" name="billing_address_1">
                                    <label for="billing_address_1" class="active">Address</label>
                                </div>

                                <!--address-2-->
                                <div class="md-form mb-5">
                                    <input type="text" id="billing_address_2" name="billing_address_2"
                                        class="form-control" placeholder="Apartment or suite">
                                    <label for="billing_address_2" class="active">Address 2 (optional)</label>
                                </div>

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-12 mb-4">

                                        <label for="id_billing_country">Country</label>
                                        {{ form.billing_country }}
                                        <div class="invalid-feedback">
                                            Please select a valid country.
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-6 mb-4">

                                        <label for="billing_zip_code">Zip</label>
                                        <input type="text" class="form-control" id="billing_zip_code"
                                            name="billing_zip_code" placeholder="Zip Code">
                                        <div class="invalid-feedback">
                                            Zip code required.
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <hr>


                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="set_default_billing"
                                        id="set_default_billing">
                                    <label class="custom-control-label" name="set_default_billing"
                                        for="set_default_billing">Save as default billing address</label>
                                </div>

                            </div>
                            {% if default_billing_address %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="use_default_billing"
                                    id="use_default_billing">
                                <label class="custom-control-label" name="use_default_billing"
                                    for="use_default_billing">Use
                                    default billing address:
                                    {{ default_billing_address.address_line_1 | truncatechars:10 }}</label>
                            </div>
                            {% endif %}
                            <hr>
                        </div>
                        <!-- billing address -->





                        <h3>Payment Method</h3>


                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="Cash" name="payment_option" value="cash" type="radio"
                                    class="custom-control-input" required="">
                                <label class="custom-control-label" for="Cash">Cash</label>
                            </div>
                            <!-- {% for value, name in form.fields.payment_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                            </div>
                            {% endfor %} -->

                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                    </form>
                    <!-- end Card Form content-->
                </div>
            </div>
            <!-- Right Cart Snippet cart_snippet.html -->
            <div class="col-md-4 mb-4">
                {% include 'shop/snippets/cart_snippet.html' %}
            </div>
            <!-- End snippet -->
        </div>
        <!-- end Grid row-->
    </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
    var hideable_billing_form = $('.hideable_billing_form');
    var hideable_shipping_form = $('.hideable_shipping_form');
    var hideable_default_billing = $('.hideable_default_billing');
    var use_default_billing = document.querySelector('input[name=use_default_billing]');
    var use_default_shipping = document.querySelector('input[name=use_default_shipping]');
    var use_default_shipping = document.querySelector('input[name=use_default_shipping]');
    var same_billing_address = document.querySelector('input[name=same_billing_address]');

    use_default_shipping.addEventListener('change', function () {
        if (this.checked) {
            hideable_shipping_form.hide();
        }
        else {
            hideable_shipping_form.show();
        }
    })

    use_default_billing.addEventListener('change', function () {
        if (this.checked) {
            hideable_default_billing.hide();
        }
        else {
            hideable_default_billing.show();
        }
    })

    same_billing_address.addEventListener('change', function () {
        if (this.checked) {
            hideable_billing_form.hide();
        }
        else {
            hideable_billing_form.show();
        }
    })


</script>

{% endblock extra_scripts %}